/* dark blue: #1b2d41 */
/* light purple: #9176d2; */
/* sage grey: #68808e */
/* then white, por supuesto */

/* things for under construction page - delete later */

html{
	height:100vh;
}

body{
	min-height:100vh;
}

.container-fluid>.row{
	height:100vh;
}

h1, .email, .phone{
	font-family:"Montserrat", sans-serif;
	color:white; /* under construction */
}

h1.brand{
	font-size:2.488em;
	font-weight:900;
	font-style:italic;
	color:#9176d2; /* under construction */
/*	text-align:center;  under construction */
	transition:.2s ease;
	margin-bottom:25px;
}

.brand:hover{
	color:white;
}

h3, p, a{
	font-family:'Playfair Display', serif;
}

h2{
	font-family:'Montserrat', sans-serif;
	font-size:1.728em;
	font-weight:400;
	color:white;
}

h3{
	font-size:1.44em;
	color:#68808e; /* under construction */
	transition:0.2s ease;
}

h3:hover{
	color:white;
}

p{
	font-size:1.2em;
	font-weight:;
	color:#68808e;
}

a, a:visited, a:active, a:focus{
	text-decoration: none;
	color: magenta;
	transition: 0.2s ease;
}

a:hover, a:focus{
	color:white;
	text-decoration:none;
}

.navi{
	height:100%;
	background-color: #1b2d41;
	padding:25px 15px 50px 25px;
}

.email{
	margin-top:130%;
}

.email>h3:nth-child(2), .phone>h3:nth-child(2){
	color:white;
}

.right-comp{
	height:100%;
	padding:75px 15px 50px 50px;
	background-color: white;
	font-family: Playfair Display, serif;
	overflow-y:scroll;
}

.col>p{
	background-color:lightblue;
	padding:8px 16px;
}

.card-columns:after {
  content: "";
  display: table;
  clear: both;
}

.card{
	position:relative;
	float:left;
	width:100%;
	background:none;
	border:none;
	color:white;
	border-radius:3px;
	overflow:hidden;
}

.card>.card-img{
	transition:0.4s ease;
}

.card>.card-img:hover{
	transform: scale(1.1);
}

hr{
	border:none;
	height:1px;
	color:#9176d2;
	background-color:#9176d2;
}
